:root {
  --slider-width: 100%;
  --slider-height: 300px;
}

.hide {
  opacity: 0;
  border-radius: 50%;
  transition: all 2s ease;
}

.slider-wrapper {
  width: 100%;
}

.slider {
  display: flex;
  justify-content: space-around;
  width: var(--slider-width);
  height: var(--slider-height);
  position: relative;
}
.slider img {
  position: absolute;
  transition: all 2s ease;
  width: auto;
  border-radius: 5%;
  height: var(--slider-height);
}

.thumbnails {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}
.thumbnails img {
  width: 50px;
  height: 100%;
  border-radius: 5%;
}
